{% load static %}
   <!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <!-- <link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?export=view&id=1LZRE1LF6ppckwx-Pr_3xoCk61YIEBMfq"> -->
    <link rel="stylesheet" href=" {{file.css}} ">

    <link rel="stylesheet" href="{% static 'styling.min.css' %}">

   
    <!-- CSS only -->
    {% block additionalcss %} {% endblock%}

</head>

<body class="page">
    <div id="navigation" class="wrapper">
        <div class="navbar  navbar-static-top"  >
            <!--Header & Branding region-->
            <div class="header" style="background-color:#013220;" >
                <div class="header-inner container">
                    <div class="row-fluid">
                        <div class="span7">
                            <!--branding/logo-->
                            <a class="brand" href="/" title="Home">
                                <h1>

                                    <img src=" {% static 'SYmbol.png' %}">

                                    <!-- <img src="https://drive.google.com/uc?export=view&id=1nLUAAyCZxAw_qrYsIUGoJQmol5UQ7gt-"> -->
                                </h1>
                            </a>
                            <div class="slogan hidden-tablet hidden-phone" style="color: white;" >Account &amp; Managment</div>
                        </div>

                        <!--header rightside-->
                        <div class="span5">


                            <!--social media icons-->
                            <a href="{% url 'account' %} ">
                            <div class="social-media pull-right hidden-phone">
                                
                                    <span style="color: white;" >Good Morning  <strong> {{request.user.first_name}}  {{request.user.last_name}}</strong></span>
                                    
                            </div></a>
                        

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div id="content" style="min-height: 1131px;">
        <div class="container">
            <div class="form-wrapper" style="max-width: 1125px; min-height: 500px;">

<div class="row-fluid">

    <div class="span3 sidebar" style="margin-left: 0;">
    <div class="section-menu">
        <ul class="nav nav-list" style="min-height: 600px;" id="candidate_nav">
            <li id="candidate_profile" > <a href="{% url 'dashboard' %} " class="first">Dashboard <i class="icon-angle-right"></i></a></li>
            <li id="candidate_additional"><a href="{% url 'profile' request.user.pk %}">my profile <i class="icon-angle-right"></i></a></li>
            <li id="candidate_photo"><a href="{% url 'shippinglist'  %}">shipping address<i class="icon-angle-right"></i></a></li>
            <li id="candidate_undergrad"><a href="{% url 'purchasedproducts' %}">purchased products <i class="icon-angle-right"></i></a></li>
            {% if request.user.is_staff %}
            <li id="candidate_olevel"><a href="{% url 'myproducts' %}"> my products <i class="icon-angle-right"></i></a></li>
            <li id="candidate_secondary"><a href="{% url 'storelist' %}">store location<i class="icon-angle-right"></i></a></li>
            {% endif %}


 
        </ul>
    </div>

</div>  
 
     <div class="span9 ng-scope" style="margin-left: 10px; padding-left: 20px; max-width: 850px;" ng-app="" id="ng-app">


{% block content %}


        <h3 class="title-divider" style="margin-bottom: 0;"><span>Personal Information</span> </h3>
        <div class="lead" style="margin-bottom: 40px;">
            Manage All Personal Account Information And Details
        </div>

{% if request.user.Active_Shipping_Address is None %}

{{request.user.Active_Shipping_Address}}
<p style="color: red; font-size: large;">You Currently Do Not Have An Active Shipping Address, Kindly <a href="newshippingaddress"> Create</a> Then Select In Your User Profile Section </p>
{% endif %}


        {% if messages %}
            {% for message in messages %}
                <div class="text-center alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}



        <div class="container" style="color: #013220;">
        <h2>Account Status: {{status}} </h2>
        </div>



        


    {% endblock %}
    </div>

</div>
            </div>
        </div>
    </div>

</body>
</html>


