



<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head lang="en">
    <title>Product | AgroServe</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" href="assets/font/MinionPro-Regular.css">
    <link rel="stylesheet" href="assets/font/MinionPro-It.css">
    <link rel="stylesheet" href="assets/font/MinionPro-Bold.css">

    <link rel="stylesheet" href="assets/font/TwCenMT.css">
    <link rel="stylesheet" href="assets/font/TwCenB.css">

    <link rel="stylesheet" href="dist/site.css">
    <link href="/OtherCss/RatingCustom.css" rel="stylesheet" />

    <link rel="apple-touch-startup-image" href="build/vatagro/256x256.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-startup-image" href="build/vatagro/256x256.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" sizes="76x76" href="build/vatagro/76x76.png">
    <link rel="shortcut icon" sizes="120x120" href="build/vatagro/120x120.png">
    <link rel="shortcut icon" sizes="128x128" href="build/vatagro/128x128.png">
    <link rel="shortcut icon" sizes="152x152" href="build/vatagro/152x152.png">
    <link rel="shortcut icon" sizes="196x196" href="build/vatagro/196x196.png">
    <link rel="shortcut icon" sizes="256x256" href="build/vatagro/256x256.png">

    <link rel="apple-touch-icon" sizes="76x76" href="build/vatagro/76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="build/vatagro/120x120.png">
    <link rel="apple-touch-icon" sizes="128x128" href="build/vatagro/128x128.png">
    <link rel="apple-touch-icon" sizes="152x152" href="build/vatagro/152x152.png">
    <link rel="apple-touch-icon" sizes="196x196" href="build/vatagro/196x196.png">
    <link rel="apple-touch-icon" sizes="256x256" href="build/vatagro/256x256.png">

    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="AgroServe activity feed" />
</head>
<body class="" style="background: #eeefff">



    <div class="container py-5">
        <section class="row justify-content-around">
            <div class="col-lg-20">
                <div class="row">
                    <div class="col-lg-16">

                        <div class="summary owl-carousel owl-theme col-lg-30"
                             data-carousel="true"
                             data-mouse-drag="true"
                             data-dots="true"
                             data-loop="false"
                             data-responsive='{"0": {"margin": 0, "items": 1},"600":{"margin": 0, "items": 1},"1000":{"items":1, "margin": 0}}'>



                                <img src="/Vatimages/44c7cef6-4168-4365-a7ce-2f74dbd30688.jpg" class="img-fluid" alt="" style="width:482px;height:416px">

                        </div>
                    </div>
                    <div class="col-lg-14">

                        <span>Merchant tayo</span><br>

                        <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>

                        <h1>Barley</h1>
                        <p>Information</p>
                        <p>
                            The Product is located in LAGOS state and the nearest location to the pickup
                            is Ikeja , Kindly note that the merchant has attested the products are as displayed.


                        </p>

                        <div class="form-row py-2 ">
                            <div class="col">
                                <p name="" id="unit" class="form-control" style="font-size:large;font-weight:bolder">
                                    ₦5,000
                                </p>
                            </div>
                            <div class="col">
                                <p name="" id="unit" class="form-control" style="font-size:large;font-weight:bolder">
                                    Per 25kg Bag
                                </p>
                            </div>
                        </div>

                            <p><span style="color:darkred;font-weight:bolder">Out Of Stock</span></p>

                            <p
                               class="btn btn-block btn-primary my-4 mb-lg-0 text-uppercase text-center w-100"
                               style="color:white">
                                Unavailable
                            </p>

                    </div>

                </div>




                <div class="py-5">
                    <h3>Full Description</h3>
                    <p>
                        Barley (Hordeum vulgare), a member of the grass family, is a major cereal grain grown in temperate climates globally. It was one of the first cultivated grains, particularly in Eurasia as early as 10,000 years ago.[3] Barley has been used as animal fodder, as a source of fermentable material for beer and certain distilled beverages, and as a component of various health foods. It is used in soups and stews, and in barley bread of various cultures. Barley grains are commonly made into malt in a traditional and ancient method of preparation.
                    </p>

                </div>

                <section class="">
                </section>
            </div>



                        <div class="col-lg-6">
                            <h4 class="t-16 text-uppercase font-weight-bold text-color-vatagro-brown">Customers Review</h4>
                                <hr /> 
                                       ITERTATION
                                                <div>

                                                    <div class="deal mb-3">
                                                        Wonderful customer REVIEW
                                                    </div>
                                                    <div><strong>CUSTOMER_NAME</strong></div>
                                                    <i>9/29/2021 4:54:45 PM</i>
                                                    <br />
                                                        <span class="starGlowN"></span>
                                                        <span class="starGlowN"></span>
                                                        <span class="starGlowN"></span>
                                                        <span class="starGlowN"></span>
                                                        <span class="starFadeN"></span>
                                                </div>
                                        END ITERATION 
                         </div>
                                <hr />
                        
        </section>
    </div>

    <span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
        <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
            <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD" />
        </svg>
    </span>

    <script src="/lib/jquery/dist/jquery.js"></script>


    <script>

         $("#AddToCart").click(function () {
                $('#AddToCart').prop('disabled', true);

                var formData = new FormData();

                 formData.append('quantity', $("#SelectedQuantity").val());
                formData.append('ID', $("#InventoryId").val());
              
                formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());

                $.ajax({
                    type: "GET",
                    url: '/ShoppingCart/AddToShoppingCart',
                    dataType: "json",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $('#AddToCart').prop('disabled', false);

                        if (data.success) {
                            toastr.success(data.result);
                            pageLoad();
                            //Added this for redirection
                        } else {
                            toastr.error(data.error);
                        }
                    },
                    error: function (data) {
                        $('#AddToCart').prop('disabled', false);
                        toastr.error(data.error);
                    }
                });



            });



    </script>


    <script>
    function SCRate() {
        for (var i = 1; i <= 3; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
    </script>

    <script async src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script async src="dist/site.bundle.js"></script>
</body>
</html>


        
<footer class="footer py-3 bg-green-900" style="">
    <div class="footer-bottom text-white bg-gray-dark">
        <div class="container">
            <div class="row">
                <div class="col-30 col-lg-18 align-items-center d-flex">
                    <span class="py-1 d-md-inline">
                        &copy;2021 <span class="font-weight-bold">VatAgro</span> Powered by Vatebra
                    </span>
                </div>

                <div class="col-30 col-lg-12 align-items-center justify-content-lg-end d-flex">
                    <section class="py-2">
                        <a href="#" class="p-3 pl-0 lh-0">
                            <ion-icon name="logo-facebook" style="width: 1.5em;height: 1.5em"></ion-icon>
                        </a><a href="#" class="p-3 lh-0">
                            <ion-icon name="logo-twitter" style="width: 1.5em;height: 1.5em"></ion-icon>
                        </a><a href="#" class="p-3 lh-0">
                            <ion-icon name="logo-youtube" style="width: 1.5em;height: 1.5em"></ion-icon>
                        </a><a href="#" class="p-3 lh-0">
                            <ion-icon name="logo-linkedin" style="width: 1.5em;height: 1.5em"></ion-icon>
                        </a>
                    </section>
                </div>

                <div class="col-30 col-lg-12">
                    <a href="/Account/Login?area=Admin" class="btn bg-vatagro-brown text-white mb-2">Portal Login</a>

                </div>

            </div>
        </div>
    </div>
</footer>
    </div>

    <span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
        <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
            <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD" />
        </svg>
    </span>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script aysnc src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="/vat-agro-assets/dist/site.bundle.js"></script>


    <script src="/vat-agro-assets/sweetalert.js"></script>
    <script src="/vat-agro-assets/CustomSweetAlert.js"></script>

    <!-- Datatables-->
    <!-- Required datatable js-->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>

    <script src="/plugins/datatables/jszip.min.js"></script>
    <script src="/plugins/datatables/pdfmake.min.js"></script>
    <script src="/plugins/datatables/vfs_fonts.js"></script>
    <script src="/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/plugins/datatables/buttons.print.min.js"></script>
    <script src="/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="/plugins/datatables/dataTables.scroller.min.js"></script>

    <!-- Responsive examples -->
    <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="/assets/pages/datatables.editable.init.js"></script>
    <!-- Datatable init js -->
    <script src="/assets/pages/datatables.init.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>

    <script>
            $(document).ready(function () {
                $('#datatable').dataTable();
                $('#datatable-keytable').DataTable({ keys: true });
                $('#datatable-responsive').DataTable();
                var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
            });
            TableManageButtons.init();
        </script>


    
    
</body>

</html>
